[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pytest = "*"
requests = "*"
black = "*"
fakeredis = "*"
nox = "*"
happier = "*"

[packages]
fastapi = "*"
uvicorn = "*"
orjson = "*"
aredis = "*"
hiredis = "*"

[requires]
python_version = "3.8"

[scripts]
fmt = "nox -s fmt"
server = "pipenv run uvicorn --reload cas:app"
typecheck = "mypy cas"
test = "python -m pytest"

[pipenv]
allow_prereleases = true
